@import 'core/helpers.scss';

@include cssvars((
	button-primary-text-color: #ffffff,
	button-secondary-text-color: #ffffff,
	button-padding: 0 32px,
	button-font-size: 14px,
	button-min-width: 140px,
	button-min-height: 40px,
	button-font-weight: 600,
	button-box-shadow: none,
	button-margin-bottom: 24px,
	button-border-radius: 4px,
	button-border-style: solid,
	button-border-width: 1px,	
	button-rounded-size: 52px,
));

@include superclass () {

	button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	[class*="btn-"] {
		height: auto;
		cursor: pointer;
		line-height: auto;
		user-select: none;
		position: relative;
		align-items: center;
		display: inline-flex;
		text-decoration: none;
		letter-spacing: 0.30px;
		justify-content: center;
		text-transform: uppercase;
		background-color: transparent;
		color: cssvar(primary-color);
		padding: cssvar(button-padding);
		font-size: cssvar(button-font-size);
		min-width: cssvar(button-min-width);
		box-shadow: cssvar(button-box-shadow);
		min-height: cssvar(button-min-height);
		line-height: cssvar(button-min-height);
		font-weight: cssvar(button-font-weight);
		border-style: cssvar(button-border-style);
		border-width: cssvar(button-border-width);
		border-color: cssvar(button-border-color);
		border-radius: cssvar(button-border-radius);
		margin-bottom: cssvar(button-margin-bottom);
	}
	.btn-block {
		display: flex;
		width: 100%;
	}
	.btn-primary {
		color: cssvar(button-primary-text-color);
		background-color: cssvar(primary-color);
		border-color: cssvar(primary-color);
	}
	.btn-secondary {
		color: cssvar(button-secondary-text-color);
		background-color: cssvar(secondary-color);
		border-color: cssvar(secondary-color);
	}
	.btn-gradient {
		border: none;
		color: cssvar(button-primary-text-color);
		min-width: calc(#{cssvar(button-min-width)} + #{cssvar(button-border-width)});
		min-height: calc(#{cssvar(button-min-height)} + #{cssvar(button-border-width)});
		background: linear-gradient(30deg, #{cssvar(primary-color)} 0%, #{cssvar(secondary-color)} 100%);
	}
	.btn-black {
		color: #ffffff;
		border-color: #ffffff;
		background-color: #000000;
		&:hover {
			color: #000000;
			border-color: #000000;
			background-color: #ffffff;
		}
	}
	.btn-white {
		color: #000000;
		border-color: #000000;
		background-color: #ffffff;
		&:hover {
			color: #ffffff;
			border-color: #ffffff;
			background-color: #000000;
		}
	}
	.btn-light {
		color: cssvar(app-text-color);
		border-color: rgba(200,200,200,.3);
		background-color: rgba(200,200,200,.3);
		&:hover {
			background-color: rgba(200,200,200,.2)
		}
	}
	.btn-success {
		color: #ffffff;
		background-color: cssvar(color-success);
		border-color: cssvar(color-success);		
	}
	.btn-warning {
		color: #ffffff;
		background-color: cssvar(color-warning);
		border-color: cssvar(color-warning);		
	}
	.btn-round {
		padding: 0;
		min-width: unset;
		min-height: unset;
		border-radius: 100%;
		width: cssvar(button-rounded-size);
		height: cssvar(button-rounded-size);
	}
	.btn-text {
		border: none;
		padding: 0 2ch;
		background: none;
		box-shadow: none;
		min-width: unset;
		min-height: unset;
		color: cssvar(primary-color);
	}
	.btn-danger, .btn-error {
		color: #ffffff;
		background-color: cssvar(color-error);
		border-color: cssvar(color-error);		
	}	
}