@import 'core/helpers.scss';

@include cssvars((
	ul-list-style: circle inside,
	ol-list-style: decimal inside,
	list-item-margin-bottom: 24px,
));

@include superclass () {

	ul {
		list-style: cssvar(ul-list-style);
	}
	
	ol {
		list-style: cssvar(ol-list-style);
	}
	
	ol, ul {
		padding-left: 0;
		margin-top: 0;
		font-size: 1em;
	}
	
	ul ul,
	ul ol,
	ol ol,
	ol ul {
		font-size: .9em;
		margin: 16px 0 16px 32px;
	}
	
	li {
		margin-bottom: cssvar(list-item-margin-bottom);
	}
	
	dl {
		width: 100%;
		word-break: break-word;
		margin-bottom: cssvar(list-item-margin-bottom);
		dt, dd {
			padding: 16px;
			text-align: left;
			border-bottom: 1px solid #E1E1E1;
		}
		dt {
			font-size: 1.1em;
			font-weight: 600;
		}
		dd {
			margin: 0;
			border: none;
			position: relative;
			padding-left: 56px;
			font-family: cssvar(font-family-secondary);
			&::before {
				content: "";
				top: 50%;
				left: 24px;
				width: 6px;
				height: 6px;
				font-size: 1em;
				position: absolute;
				border-radius: 100%;
				transform: translateY(-50%);
				border: solid 1px currentColor;
			}
		}
		@media screen and (max-width: 768px) {
			dd {
				padding-left: 32px;
				&::before {
					left: 10px;
				}
			}	
		}
	}
}
