@include cssvars((
	button-primary-text-color: #ffffff,
	button-secondary-text-color: #ffffff,
	button-height: auto,
	button-cursor: pointer,
	button-padding: 0 32px,
	button-font-size: 14px,
	button-min-width: 140px,
	button-min-height: 40px,
	button-font-weight: 600,
	button-border-radius: 4px,
	button-margin-bottom: 24px,
	button-letter-spacing: 0.30px,
	button-justify-content: center,
	button-text-transform: uppercase,
	button-text-padding: 0 2ch,
	button-rounded-size: 52px,
));

@include superclass () {

	button,
	[class*="btn-"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		user-select: none;
		position: relative;
		align-items: center;
		white-space: nowrap;
		display: inline-flex;
		text-decoration: none;
		background-color: transparent;
		height: cssvar(button-height);
		cursor: cssvar(button-cursor);
		color: cssvar(primary-color);
		padding: cssvar(button-padding);
		line-height: cssvar(button-height);
		font-size: cssvar(button-font-size);
		min-width: cssvar(button-min-width);
		min-height: cssvar(button-min-height);
		font-weight: cssvar(button-font-weight);
		border: 1px solid cssvar(primary-color);
		letter-spacing: cssvar(button-font-weight);
		border-radius: cssvar(button-border-radius);
		margin-bottom: cssvar(button-margin-bottom);
		letter-spacing: cssvar(button-letter-spacing);
		text-transform: cssvar(button-text-transform);
		justify-content: cssvar(button-justify-content);
		&.btn-block {
			display: flex;
			width: 100%;
		}
		&.btn-primary {
			color: cssvar(button-primary-text-color);
			background-color: cssvar(primary-color);
			border-color: cssvar(primary-color);
		}
		&.btn-secondary {
			color: cssvar(button-secondary-text-color);
			background-color: cssvar(secondary-color);
			border-color: cssvar(secondary-color);
		}
		&.btn-gradient {
			color: cssvar(button-primary-text-color);
			border-color: linear-gradient(30deg, #{cssvar(primary-color)} 0%, #{cssvar(secondary-color)} 100%);
			background: linear-gradient(30deg, #{cssvar(primary-color)} 0%, #{cssvar(secondary-color)} 100%);
		}
		&.btn-black {
			color: #ffffff;
			border-color: #ffffff;
			background-color: #000000;
			&:hover {
				color: #000000;
				border-color: #000000;
				background-color: #ffffff;
			}
		}
		&.btn-white {
			color: #000000;
			border-color: #000000;
			background-color: #ffffff;
			&:hover {
				color: #ffffff;
				border-color: #ffffff;
				background-color: #000000;
			}
		}
		&.btn-light {
			color: cssvar(app-font-color);
			border-color: rgba(200,200,200,.3);
			background-color: rgba(200,200,200,.3);
			&:hover {
				background-color: rgba(200,200,200,.2)
			}
		}
		&.btn-success {
			color: #ffffff;
			background-color: cssvar(color-success);
			border-color: cssvar(color-success);		
		}
		&.btn-danger, &.btn-error {
			color: #ffffff;
			background-color: cssvar(color-error);
			border-color: cssvar(color-error);		
		}
		&.btn-warning {
			color: #ffffff;
			background-color: cssvar(color-warning);
			border-color: cssvar(color-warning);		
		}
		&.btn-round {
			padding: 0;
			min-width: unset;
			min-height: unset;
			align-items: center;
			border-radius: 100%;
			display: inline-flex;
			justify-content: center;
			width: cssvar(button-rounded-size);
			height: cssvar(button-rounded-size);;
		}
		&.btn-text {
			border: none;
			background: none;
			box-shadow: none;
			min-width: unset;
			min-height: unset;
			color: cssvar(primary-color);
			padding: cssvar(button-text-padding);
		}
	}
}
