@include cssvars((
	
	paragraph-font-size: 1em,
	paragraph-margin-bottom: 36px,
	paragraph-font-family: cssvar(font-family-secondary),

	link-text-decoration: none,
	link-color: cssvar(primary-color),	

	all-headings-margin: 0 0 36px 0,
	all-headings-font-family: cssvar(--font-family-primary),

	h1-font-size: 4.44em,
	h1-line-height: 1.2,
	h1-font-weight: 300,
	h1-letter-spacing: -0.5px,

	h2-font-size: 3.33em,
	h2-line-height: 1.25,
	h2-font-weight: 300,
	h2-letter-spacing: -0.5px,
	
	h3-font-size: 2.6em,
	h3-line-height: 1.3,
	h3-font-weight: 300,
	h3-letter-spacing: 0px,

	h4-font-size: 1.8em,
	h4-line-height: 1.35,
	h4-font-weight: 300,
	h4-letter-spacing: 0.25px,
	
	h5-font-size: 1.3em,
	h5-line-height: 1.5,
	h5-font-weight: 300,
	h5-letter-spacing: 0px,

	h6-font-size: 1.1em,
	h6-line-height: 1.6,
	h6-font-weight: 300,
	h6-letter-spacing: 0.15px,

	mark-padding: 0 4px,
	mark-border-radius: 2px,
	mark-background-color: rgba(180,180,180,.2),
));

@include superclass () {

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		margin: cssvar(all-headings-margin);
		font-family: cssvar(all-headings-font-family);
	}
	
	@each $h in (h1, h2, h3, h4, h5, h6) {
		#{$h} {
			font-size: cssvar(#{$h}-font-size);
			line-height: cssvar(#{$h}-line-height);
			font-weight: cssvar(#{$h}-font-weight);
			letter-spacing: cssvar(#{$h}-letter-spacing);
			@media screen and (max-width: 1023px) {
				font-size: calc((#{cssvar(#{$h}-font-size)} / 1.8) + 1.5vw);
			}
		}
	}

	hr {
		opacity: .2;
		margin: 36px 0;
		border-width: 0;
		border-top: 1px solid cssvar(app-font-color);
	}
	
	p {
		margin-top: 0;
		font-size: cssvar(paragraph-font-size);
		font-family: cssvar(paragraph-font-family);
		margin-bottom: cssvar(paragraph-margin-bottom);
	}
	
	a, .link {
		color: cssvar(link-color);
		text-decoration: cssvar(link-text-decoration);
		&:hover {
			filter: saturate(0.5);
			button, [class*=btn-],
			input[type="button"],
			input[type="submit"],
			input[type="reset"] {
				filter: none;
			}
		}
		@media print {	
			&:not([href^="#"]):not([href^="javascript"])::after{
				content: " (" attr(href) ") ";
			}
		}		
	}
	
	blockquote {
		margin: 0;
		padding: 20px;
		margin: cssvar(all-headings-margin);
		font-size: cssvar(--paragraph-font-size);
		font-family: cssvar(font-family-primary);
		border-left: solid 4px cssvar(primary-color);
		background-color: rgba(180,180,180,.1);
	}

	mark {
    color: inherit;
    display: inline;
    font-size: inherit;
    font-family: inherit;
    white-space: inherit;
    padding: cssvar(mark-padding);
    border-radius: cssvar(mark-border-radius);
    background-color: cssvar(mark-background-color);
	}

	hgroup {
		margin: cssvar(all-headings-margin);
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 14px;
		}
	}

	kbd {
    padding: 0px 4px;
    border-radius: 2px;
    background-color: rgba(180,180,180,.2);
	}	
}
