.color-palette {
  padding: 20px;
  display: flex;
  border: dashed 2px #333;
  background-color: #ffffff;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &--dark {
    background-color: #333;
  }
  span {
    width: 100%;
    height: 80px;
    display: block;
  }
  [data-darken] {
    filter: saturate(.8);
  }
}