html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow: auto !important;
  &.sidebar-visible > .plume.pm-container {
    transform: translateX(200px);
  }
}

body > .plume.pm-container {
  padding-top: 60px;
  transition: 200ms;
  .logo {
    max-width: 100px;
    margin: 0 auto;
    padding: 56px 0;
    svg {
      fill: var(--pm-app-text-color);
    }
  }
  .half {
    display: grid;
    grid-column-gap: 26px;
    grid-template-columns: 1fr 1fr;
  }
  .doc-title {
    padding: 40px 0;
    h2 {
      margin: 0;
    }
  }
  .el-ac-content {
    background: transparent;
  }
  .el-ac-summary {
    border: none;
    padding: 16px 0;
    color: var(--pm-primary-color);
  }  
  @media (max-width: 768px) {
    .half {
      display: block;
    }
  }
  .actions {
    padding: 28px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin: 0 8px;
      min-width: 232px;
    }
    @media screen and (max-width: 980px) {
      display: block;
      text-align: center;
      button {
        margin-bottom: 16px;
      }
    }
  } 
  footer {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    button {
      min-width: 232px;
      margin: 0 !important;
    }
    @media screen and (max-width: 768px) {
      display: block !important;
      text-align: center;
      button {
        margin: 16px 0 !important;
      }
    }
  } 
  .complete-utilities-list tr > td:first-child {
    white-space: nowrap;
  }
}

@media screen and (max-width: 1500px) {
  body.sidebar-visible > .plume.pm-container {
    transform: none;
  }
}