html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body > .plume.container {
  
  transform: translateX(200px);
  
  [is="el-accordion"] {
    .el-ac-summary {
      border: none;
      font-size: 36px;
      font-weight: 600;
      &::after {
        width: inherit;
        height: inherit;
      }
      @media screen and (max-width: 768px) {
        font-size: 28px;
      }
    }
    .el-ac-content,
    &:not([data-expand]):hover .el-ac-summary {
      background-color: rgba(200,200,200,.1) !important;
    }
  }
  
  .half {
    display: grid;
    grid-column-gap: 26px;
    grid-template-columns: 1fr 1fr;
  }
  
  @media (max-width: 768px) {
    .half {
      display: block;
    }
  }
  .actions {
    padding: 28px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin: 0 8px;
    }
  }  
}

@media screen and (max-width: 1500px) {
  body .plume.container {
    transform: none;
  }
}

.no-javascript {
  .theme-editor-holder, 
  #themeSource, 
  #customPropsList, 
  .custom-props-list-accordion,
  #theme-editor-toggler,
  #toggle-source {
    display: none;
  }
  .plume.container {
    transform: none !important;
    padding-top: 36px;
    padding-bottom: 36px;
    [is="el-accordion"] {
      padding: 24px;
      &::before {
        content: attr(data-summary);
        display: block;
        border: none;
        font-size: 36px;
        font-weight: 600;
        margin: 36px 0;
        border-bottom: solid 1px #ccc;
        background-color: rgba(200,200,200,.1) !important;
        padding: 24px;
        @media screen and (max-width: 768px) {
          font-size: 28px;
        }        
      }
    }
    .no-javascript-warning {
      color: #fff;
      padding: 10px;
      font-size: 16px;
      font-weight: 600;
      background-color: #ff0100;
    }
  }
}