.el-ac-code-preview {
  z-index: 100;
  overflow: auto;
  border: solid 1px #ccc;
  display: none;
  margin-top: 36px;
  &.visible {
    display: block;
  }
}

#toggle-source {
  cursor: pointer;
  appearance: none;
  border: none;
  padding: 6px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #eeeeee;
  color: #444;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  right: 0; 
  opacity: .8;
  z-index: 100;
  svg {
    width: 100%;
    max-width: 56px;
    max-height: 70%;
  }
  &.active {
    background-color: #4bb543;
    svg path {
      fill: #fff;
    }
  }  
}