@include cssvars((
	app-surface-color: transparent,
	app-font-color: #333,
	app-selection-color: cssvar(primary-color),
	app-selection-text-color: #ffffff,
	app-base-font-size: 18px,
	app-line-height: 1.6,
	app-font-weight: 400,
	app-container-padding: 14px,
	app-container-max-width: 980px,
));

@include superclass () {
	
	box-sizing: border-box;
	color: cssvar(app-font-color);
	font-weight: cssvar(app-font-weight);
	line-height: cssvar(app-line-height);
	font-size: cssvar(app-base-font-size);
	font-family: cssvar(font-family-primary);
	background-color: cssvar(app-surface-color);

	*, *::before, *::after {
		box-sizing: inherit;
		outline-color: cssvar(primary-color);
	}

	::selection {
		color: cssvar(app-selection-text-color);
		background: cssvar(app-selection-color);
	}

	.container, &.container, &-container {
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding: 0 cssvar(app-container-padding);
		max-width: cssvar(app-container-max-width);
		@media screen and (max-width: 760px) {
			padding: 0 calc(#{cssvar(app-container-padding)} / 2);
		}
	}
}
